body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --background: #0a0a0a;
    --card-surface: #333333;
    --primary-action: #e5e5e5;
    --border: rgba(255,255,255,0.1);
    --muted-text: #a1a1a1;
    --danger: #ff6467;
}